.flight-board {
    max-width: 95vw;
    height: 100vh;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.table-header {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-transform: uppercase;
    margin-bottom: 8%;
}

.table-header > div {
    color: #72D8FF;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "Akrobat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
}

.table-header span {
    color: #939090;
    font-family: "Akrobat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
}

.flight-row {
    display: grid;
    grid-template-columns: 16% 27% 19% 30%;
    gap: 50px;
    padding: 0.88% 0;
    align-items: center;
}

.col-time,
.col-destination,
.col-number,
.col-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.col-time .time,
.col-number .flight-number {
    color: #fff;
    font-family: "Dotf1", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.city {
    color: #fff;
    font-family: "Dotf1", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.status {
    color: #fff;
    font-family: "Dotf1", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 0;
}

.status.on-time {
    display: flex;
    justify-content: center;
    color: #59D041;
    align-items: center;
}

.status.delayed {
    color: #F9F34D;
}

.loading-screen, .error-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.spinner {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.error-screen button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.no-flights {
    padding: 30px;
    text-align: center;
    font-size: 1.1rem;
}

.board-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 15px;
}

.flight-number {
    display: flex;
    margin-left: 35px;
    word-spacing: 50px;
    align-items: start;

}