.BackgroundScreen {
    position: relative;
    width: min(100vw, calc(100vh * 5 / 4));
    aspect-ratio: 5 / 4;
    min-height: min(100vh, calc(100vw * 4 / 5));
    margin: 0 auto;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}